description "txStatsD - A network daemon for aggregating statistics"

start on runlevel [2345]
stop on runlevel [!2345]

expect daemon

env PATH={{conf.deploy.root}}/txstatsd/live/virtualenv/bin:$PATH

exec twistd --uid nobody --gid nobody \
            --logfile /var/log/txstatsd.log \
            --pidfile /var/run/txstatsd.pid \
            statsd -c /etc/yola/txstatsd.conf
