description "txStatsD - A network daemon for aggregating statistics"

start on runlevel [2345]
stop on runlevel [!2345]

exec {{conf.deploy.root}}/txstatsd/live/virtualenv/bin/python \
     {{conf.deploy.root}}/txstatsd/live/virtualenv/bin/twistd \
        --uid nobody --gid nogroup \
        --logfile {{aconf.path.log}} \
        --pidfile /var/run/txstatsd.pid \
        --nodaemon \
        statsd -c /etc/yola/txstatsd.conf

respawn

respawn limit 10 5
